---
import { SITE } from '../config.js';
---
<div class="flex flex-wrap gap-3">
  <a class="badge-pill" href={SITE.applePodcasts} rel="noopener">在 Apple Podcasts 收聽</a>
  <a class="badge-pill" href={SITE.spotify} rel="noopener">在 Spotify 收聽</a>
</div>
